/* 
    font-family: 'Caveat Brush', cursive;
font-family: 'Nunito', sans-serif;
font-family: 'Prompt', sans-serif;
*/

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

header{
    height: 40.449rem;
    width: 81.25rem;
    /* border:1px solid red; */
    margin-left:4.375rem;
    font-family: 'Prompt';
}

header > .logo{
    /* border: 1px solid blue; */
    width:79.313rem;
    height:3.125rem;
    margin:auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

header > .header-static{
    width:81.25rem;
    height:28.5rem;
    border-radius: 3.125rem;
    background: #FFDBA6;
    margin-top: 58px;
    /* border:1px solid orange; */
    position: absolute;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
}

.header-static > p:nth-child(1){
    position: absolute;
    top:4.375rem;
    left:3.313rem;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    font-family: 'Caveat Brush';
    font-style: normal;
    font-weight: 400;
    font-size: 4.5rem;
    line-height: 130%;
    color: #572148;
    
}

.header-static > p:nth-child(2){
    position: absolute;
    top:11.938rem;
    left:5.967rem;
    width:42.18rem;
    height:8.438rem;
    text-align: left;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.563rem;
    color: #572148;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header-static > img{
    left:56.498rem;
    top:2.563rem;
    position: relative;
    width:22.065rem; /* OLD:*/
    /* position: absolute; */
}

header > .header-form{
    width:37.313rem;
    height:7.5rem;
    /* border:1px solid brown; */
    position: absolute;
    top: 32.949rem;
    left:25.25rem;
    background: #FFFFFF;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.header-form > div:nth-child(1){
    /* border: 1px solid red; */
    position: absolute;
    /* position: relative; */
    left:2.125rem;
    top:1.25rem;
    width:19.313rem;
    height:4.875rem;
}

.header-form > div:nth-child(2){
    /* border:1px solid red; */
    position: absolute;
    left:24.25rem;
    top:1.25rem;
    width:11.25rem;
    height:4.875rem;
}

.header-form > div:nth-child(1) > label{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.563rem;
    color: #000000;
    margin-left:1px;
}

.header-form > div:nth-child(1) > .search{
    width:19.313rem;
    height:2.813rem;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 5px;
    position: relative;
}

.search > input{
    width:16.938rem;
    /* height:2.813rem; */
    height:2.688rem;
    border:none;
    outline:none;
    /* border:1px solid blue; */
    border-radius: 5px;
    font-size:24px;
}

.search > img{
    /* border:1px solid tomato; */
    position: absolute;
    left:16.938rem;
    top:0.613rem;
    cursor: pointer;
}

.header-form > div:nth-child(2) > label{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.563rem;
    color: #000000;
    margin-left:1px;
}

.header-form > div:nth-child(2) > select{
    width:11.25rem;
    height:2.813rem;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 5px;
}

.header-form > div:nth-child(2) > select{
    font-family: 'Prompt';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #999999;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;       /* Remove default arrow */
    /* background-image: url(...); */
    background-image: url('../static/images/arrow-down.svg');
    background-repeat: no-repeat;
    background-position-x: 9.625rem;
    background-position-y: 1.063rem;
}

option{
    font-family: 'Prompt';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #000000;
}